{% extends 'users/base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'users/css/main.css' %}">
<div class="container">
  <div class="row g-0">
    <div class="col-sm-6 col-md-8" id="header-text">
      <h1 id="header-h1">TOPSIS Analyser<br></h1>
      <p id="header-paragraph">TOPSIS - A multi-criteria decision making approach<br>Made By - Prabhnoor Singh</p>
      <a href="https://github.com/roaringsingh/Topsis-website"><img src="{% static 'users/images/github.png' %}"></a>
    </div>
  </div>
</div>

{% endblock content %}