{% extends 'users/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <h2>{{user.username}}</h2>
    <h2>{{user.email}}</h2>
    <a class="btn" href="{% url 'calc' %}" id="header-links" style="color: white;
    background-color: #fd5e14;" type="submit"> Calculate </a>
</div>

<div class="container">
<table class="table table-dark table-hover" style="color:#fff;">
    <tr>
        <th>
            Weights
        </th>
        <th>
            Impacts
        </th>
        <th>
            Result
        </th>
        <th>
            Send E-mail
        </th>
        <th>
            Delete
        </th>
    </tr>
    {%for obj in data%}
    <tr>
        <td>{{obj.weights}}</td>
        <td>{{obj.impacts}}</td>
        <td>
            {{obj.html|safe}}
        </td>
        <td><a href="{{obj.id}}/sendmail">Send email</a></td>
        <td><a href="{{obj.id}}/delete">Delete</a></td>
    </tr>

    {%endfor%}
</table>
</div>



{%if not user.email%}
<form action="." method="post">
    {%csrf_token%}
    <input type="email" name="email" id="">
    <input type="submit" value="Update">
</form>
{%endif%}

{% endblock %}